.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(blue);
    border: #000 3px solid;
    width: 50%;
    height: 75%;
}

.imgcontainer 
{
    padding: 20px;
}
img
{
    border: solid 2px #000;
    margin: 15px;
}
.float-left
{
    float: left;
}
.float-right
{
    float: right;
}